{% load static %}
<footer class="bg-dark text-light py-4 ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
                <img src="{% static 'assets/logo/logo.png' %}" alt="Logo" style="max-width: 150px;">
            </div>
            <div class="col-md-4 text-center mb-3 mb-md-0">
                <p>© 2024 Gentlemen's Restaurant. All rights reserved.</p>
            </div>
            <div class="col-md-4 text-center text-md-end">
                <a href="#" class="text-light me-3"><i class="bi bi-facebook fs-4"></i></a>
                <a href="#" class="text-light me-3"><i class="bi bi-instagram fs-4"></i></a>
                <a href="#" class="text-light me-3"><i class="bi bi-twitter fs-4"></i></a>
                <a href="#" class="text-light"><i class="bi bi-linkedin fs-4"></i></a>
            </div>
        </div>
    </div>
</footer>
