{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
{% endblock %}
{% block content %}
<div class="container-c">
<div class="forgot-password-container">
    <div class="forgot-password-card">
        <h2 class="title">Şifrenizi mi unuttunuz?</h2>
        <form method="post" class="forgot-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="email" class="form-label">E-posta Adresi</label>
                <input type="email" name="email" id="email" class="form-input" placeholder="E-posta adresinizi girin" required>
            </div>
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>
    </div>
</div>
</div>
{% endblock %}
